In [37]:
from sklearn_pandas import DataFrameMapper
from marc_dataframes import marc, zephyr
from sklearn.feature_extraction.text import TfidfVectorizer

columns = marc.select(
    marc.EditionImprint.PUBLICATION_DISTRIBUTION_IMPRINT
)

json = [
    zephyr.load_from_api('txu.059173018498868'),
    zephyr.load_from_api('gri.ark:/13960/t91875m5j'),
    zephyr.load_from_api('mdp.39015022391018')
]

data = zephyr.ZephyrTransformer(columns).transform(json)

mapper = DataFrameMapper(
    list(map(lambda c: (c, TfidfVectorizer(
        ngram_range = (1, 2)
    )), columns)),
    df_out = True
)

X = mapper.fit_transform(data.copy())
display(X)

,260_1901,260_1973,260_1975,260_1975 c1974,260_anchor,260_anchor books,260_books,260_books 1973,260_c1974,260_chichester,...,260_new,260_new york,260_press,260_press 1975,260_subfields,260_subfields chichester,260_subfields garden,260_subfields lisboa,260_york,260_york halsted
txu.059173018498868,0.000000,0.291803,0.000000,0.000000,0.291803,0.291803,0.291803,0.291803,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.172343,0.000000,0.291803,0.000000,0.000000,0.000000
gri.ark:/13960/t91875m5j,0.320353,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.189205,0.000000,0.000000,0.320353,0.000000,0.000000
mdp.39015022391018,0.000000,0.000000,0.237396,0.237396,0.000000,0.000000,0.000000,0.000000,0.237396,0.237396,...,0.237396,0.237396,0.237396,0.237396,0.140210,0.237396,0.000000,0.000000,0.237396,0.237396

In [38]:
X['260_new york']

txu.059173018498868         0.000000
gri.ark:/13960/t91875m5j    0.000000
mdp.39015022391018          0.237396
Name: 260_new york, dtype: float64